

<h1>MY TO DO LIST!</h1>

<h2>What all do I need to Accomplish today?</h2>



<ul>
  {{#each burgers}}
    {{#unless this.status}}
      <li>
        {{this.toDoItem}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="status" value="true">
          <button type="submit">COMPLETED!</button>
        </form>

        {{> burger/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>COMPLETED TASKS/Cats that are sleepy!</h2>

<ul>
  {{#each burgers}}
    {{#if this.status}}
      <li>
        {{this.toDoItem}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="status" value="false">
          <button type="submit">INCOMPLETE!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a TASK</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="task">TASK:</label>
    <input type="text" id="task" name="name">
  </div>

  <div class="form-group">
    <label for="ci">Complete or Incpmplete?</label><br>
    <input type="radio" name="status" value="1" checked> incomplete!<br>
    <input type="radio" name="status" value="0"> Complete
  </div>

  <button type="submit">Add Task</button>
</form>
















