    body {
        background-image: url(../img/ocean.jpg);
        background-size: 100%, 120%;
        background-repeat: no-repeat;
    }
    
    li {
        background: white;
        opacity: .7;
        margin: 5px;
        padding: 5px;
    }
    
    h1 {
        text-decoration: underline;
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    .toDo {
        font-size: 20px;
        font-weight: bold;
        /*width: 80%;*/
    }
    
    .label {
        font-weight: bold;
    }
    
    .create-update-form {
        background: aqua;
        margin: 5px;
        padding: 5px;
    }
    
    .form-group {
        margin-bottom: 5px;
    }