    body {
        background-image: url(../img/background.jpg);
        background-size: 100%, 75%;
    }
    
    li {
        background: lightblue;
        margin: 5px;
        padding: 5px;
    }
    
    .toDo {
        font-size: 20px;
        font-weight: bold;
        /*width: 80%;*/
    }
    
    .label {
        font-weight: bold;
    }
    
    .create-update-form {
        background: aqua;
        margin: 5px;
        padding: 5px;
    }
    
    .form-group {
        margin-bottom: 5px;
    }